body {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

.about-section {
  margin-bottom: 2rem;
  border-radius: 20px;
  background-color: blanchedalmond;
  padding: 2rem;
  /* overflow: hidden; */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
